<!DOCTYPE html>
<html lang="ko">
    <!-- <%- include('include/head', { title: '회원가입' })%> -->
    <body>
        <%- include('include/header')%>
        <H1 class="H1WWT joinH1" style="color: #383d43">What Was Today</H1>
        <form class="joinForm" name="form-join">
            <div class="joinDIV">
                <p style="color: #606d75">Join us!</p>
                <br />
                <hr color="" />

                <input type="text" id="userID" name="userID" placeholder="아이디" required /> <br />
                <input
                    type="password"
                    id="userPW"
                    name="userPW"
                    placeholder="비밀번호"
                    required
                /><br />
                <input
                    type="text"
                    id="userName"
                    name="userName"
                    placeholder="이름"
                    required
                /><br />
                <input
                    type="text"
                    id="userNickname"
                    name="userNickname"
                    placeholder="닉네임"
                    required
                />
                <br />
                <input
                    type="email"
                    id="userEmail"
                    name="userEmail"
                    placeholder="이메일 주소"
                    required
                />
                <br />
                <!-- <textarea
                    name=""
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="소개 글을 작성해주세요"
                    ></textarea> -->
                <button class="joinBTN" type="button" onclick="joinUs()">Join us</button>
            </div>
        </form>
        <script>
            const joinUs = () => {
                const form = document.forms["form-join"];
                // if (!form.checkValidity()) {
                //     form.reportValidity();
                //     return;
                // }
                var userID = document.getElementById("userID").value;
                var userPW = document.getElementById("userPW").value;
                var userEmail = document.getElementById("userEmail").value;
                var userName = document.getElementById("userName").value;
                var userNickname = document.getElementById("userNickname").value;
                var IDPWPattern = /^[a-zA-Z0-9가-힣]{8,}$/;
                var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

                if (!IDPWPattern.test(userID)) {
                    alert("아이디는 영어 대소문자, 한글, 숫자로 이루어진 8자 이상이어야 합니다.");
                    return false;
                } else if (!IDPWPattern.test(userPW)) {
                    alert("비밀번호는 영어 대소문자, 한글, 숫자로 이루어진 8자 이상이어야 합니다.");
                    return false;
                } else if (!emailPattern.test(userEmail)) {
                    alert("유효한 이메일 주소를 입력하세요.");
                    return false;
                } else if (
                    userID.trim() === "" ||
                    userPW.trim() === "" ||
                    userName.trim() === "" ||
                    userNickname.trim() === "" ||
                    userEmail.trim() === ""
                ) {
                    alert("입력 필드를 채워주세요.");
                    return false;
                }
                axios({
                    url: "/join",
                    method: "POST",
                    data: {
                        userID: form.userID.value,
                        userPW: form.userPW.value,
                        userName: form.userName.value,
                        userNickname: form.userNickname.value,
                        userEmail: form.userEmail.value,
                    },
                })
                    .then((res) => {
                        console.log("응답데이터", res.data);
                        alert("회원가입 성공");
                        document.location.href = "/login";
                    })
                    .catch((err) => {
                        //console.log("회원가입 오류", err.response.data);
                        alert("회원가입 실패");
                    });
                return true;
            };
        </script>
    </body>
</html>
