<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'Login' })%>
    <body>
        <%- include('include/header')%>

        <h1 class="H1WWT" style="color: #383d43">What Was Today</h1>
        <!-- <form name="form_info" action="/profileEdit" method="POST">
            <input type="hidden" name="userID" />
        </form> -->
        <form class="loginForm" name="form-login">
            <div class="loginDIV">
                <p style="color: #606d75">Login</p>
                <br />
                <hr />
                <input id="userID" type="text" name="userID" placeholder="아이디" required /><br />
                <input
                    id="userPW"
                    type="password"
                    name="userPW"
                    placeholder="비밀번호"
                    required
                /><br />
                <button class="loginBTN" type="button" onclick="Login()">로그인</button><br />
                <a class="loginJoin" href="/join">회원가입 하시겠습니까?</a>
            </div>
        </form>
        <script>
            const Login = () => {
                // const formInfo = document.forms["form_info"];
                const form = document.forms["form-login"];
                console.log(form.userID.value);

                var userID = document.getElementById("userID").value;
                var userPW = document.getElementById("userPW").value;

                if (userID.trim() === "" || userPW.trim() === "") {
                    alert("입력 필드를 채워주세요.");
                    return false;
                }

                axios({
                    url: "/login",
                    method: "POST",
                    data: {
                        userID: form.userID.value,
                        userPW: form.userPW.value,
                    },
                })
                    .then((res) => {
                        const { data } = res;
                        console.log("login Axios", data);

                        console.log(data.admin);
                        if (data) {
                            alert("로그인 성공");
                            // formInfo.userID.value = form.userID.value;
                            // formInfo.submit();
                            // console.log(admin);
                            data.admin === 0
                                ? (document.location.href = "/admin/adminAccess")
                                : (document.location.href = "/");
                        } else {
                            alert("로그인 실패");
                            form.reset();
                        }
                    })
                    .catch((err) => console.log(err));
                return true;
            };
        </script>
    </body>
</html>
