<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'Login' })%>
    <body>
        <%- include('include/header')%>

        <h1 class="H1WWT">What Was Today</h1>
        <!-- <form name="form_info" action="/profileEdit" method="POST">
            <input type="hidden" name="userID" />
        </form> -->
        <form name="form-login">
            <input type="text" name="userID" placeholder="아이디" required /><br />
            <input type="password" name="userPW" placeholder="비밀번호" required /><br />
            <button class="loginBTN" type="button" onclick="Login()">Login</button><br />
            <a class="loginJoin" href="/join">회원가입 하시겠습니까?</a>
        </form>
        <script>
            const Login = () => {
                const formInfo = document.forms["form_info"];
                const form = document.forms["form-login"];
                console.log(form.userID.value);

                axios({
                    url: "/login",
                    method: "POST",
                    data: {
                        userID: form.userID.value,
                        userPW: form.userPW.value,
                    },
                })
                    .then((res) => {
                        const { data } = res;
                        console.log("login Axios", data);

                        if (data) {
                            alert("로그인 성공");
                            // formInfo.userID.value = form.userID.value;
                            // formInfo.submit();
                            document.location.href = "/";
                        } else {
                            alert("로그인 실패");
                            form.reset();
                        }
                    })
                    .catch((err) => console.log(err));
            };
        </script>
    </body>
</html>
