<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'main' })%>
    <body>
        <%- include('include/header')%>
        <div class="totalPost">
            <div class="postLine">
                <ul type="none" class="postImg" id="a">
                    <img src="../static/image/beach1.jpg" alt="바다" />
                    <li class="mainImg"></li>
                    <li class="mainPostNickname">닉네임</li>
                    <li class="mainPostTitle">제목</li>
                </ul>
                <ul type="none" class="postImg">
                    <img src="../static/image/pooh.png" alt="푸" />
                    <li class="mainImg"></li>
                    <li class="mainPostNickname">닉네임</li>
                    <li class="mainPostTitle">제목</li>
                </ul>
            </div>
            <div class="postLine">
                <ul type="none" class="postImg">
                    <li class="mainImg"></li>
                    <li class="mainPostNickname">닉네임</li>
                    <li class="mainPostTitle">제목</li>
                </ul>
                <ul type="none" class="postImg">
                    <li class="mainImg"></li>
                    <li class="mainPostNickname">닉네임</li>
                    <li class="mainPostTitle">제목</li>
                </ul>
            </div>
            <div class="postLine">
                <ul type="none" class="postImg">
                    <img src="../static/image/small_img.png" alt="apple" />
                    <li class="mainImg"></li>
                    <li class="mainPostNickname">닉네임</li>
                    <li class="mainPostTitle">제목</li>
                </ul>
            </div>
            <div class="postLine">
                <ul type="none" class="postImg">
                    <li class="mainImg"></li>
                    <li class="mainPostNickname">닉네임</li>
                    <li class="mainPostTitle">제목</li>
                </ul>
            </div>
        </div>
    </body>
</html>
