<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'main' })%>
    <body>
        <%- include('include/header')%>
        <div class="post">
            <div class="postLine">
                <ul class="postImg">
                    <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li>
                </ul>
            </div>
        </div>
    </body>
</html>
