<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%>
        <div class="profileInfo">
            <p class="nickname">닉네임</p>
            <div class="profilePicture">이미지</div>
            <div>
                <p class="postCount">게시물 수</p>
                <p class="postCountName">게시물</p>
            </div>
            <button type="button">프로필 편집</button>
            <button type="button">글 등록하기</button>
        </div>
        <div class="post">
            <div class="postLine">
                <ul class="postImg">
                    <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li>
                </ul>
            </div>
        </div>
    </body>
</html>
