<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%>
        <div class="profileInfo">
            <div class="myPageDiv1">
                <p class="nickname">Ready_four</p>
                <!--닉네임-->
                <div class="profilePicture"></div>
            </div>
            <div class="myPageDiv2">
                <p class="postCount">5</p>
                <!--게시물 수-->
                <p class="postCountName">게시물</p>
            </div>
        </div>
        <div class="myPageBTN">
            <button class="editBTN" type="button">프로필 편집</button>
            <button class="postBTN" type="button">글 등록하기</button>
        </div>
        <div class="post">
            <div class="postLine">
                <ul class="postImg">
                    <!-- <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li> -->
                    <img src="../static/image/profile.jpg" alt="스티치" />
                    <a class="goEdit" href="../views/postEdit.ejs">글 수정하기</a>
                </ul>
                <ul class="postImg">
                    <!-- <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li> -->
                    <a class="goEdit" href="../views/postEdit.ejs">글 수정하기</a>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <!-- <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li> -->
                    <a class="goEdit" href="../views/postEdit.ejs">글 수정하기</a>
                </ul>
                <ul class="postImg">
                    <!-- <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li> -->
                    <a class="goEdit" href="../views/postEdit.ejs">글 수정하기</a>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <!-- <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li> -->
                    <a class="goEdit" href="../views/postEdit.ejs">글 수정하기</a>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <!-- <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li> -->
                    <a class="goEdit" href="../views/postEdit.ejs">글 수정하기</a>
                </ul>
            </div>
        </div>
    </body>
</html>
