<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%>
        <div class="myPageProfileInfo">
            <div class="myPageDiv1">
                <p class="myPageNickname">Ready_four</p>
                <!--닉네임-->
                <div id="postIcon"></div>
            </div>
            <div class="myPageDiv2">
                <p class="myPagePostCount">5</p>
                <!--게시물 수-->
                <p class="myPagePostCountName">게시물</p>
            </div>
        </div>
        <div class="myPageBTN">
            <button class="myPageEditBTN" type="button" onClick="location.href='/profileEdit'">
                프로필 편집
            </button>
            <button class="myPagePostBTN" type="button" onClick="location.href='/postEdit'">
                글 등록하기
            </button>
        </div>
        <div class="post">
            <div class="postLine">
                <ul class="postImg">
                    <!-- <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li> -->
                    <img src="../static/image/profile.jpg" alt="스티치" />
                    <a class="myPageGoEdit" href="/postEdit">글 수정하기</a>
                </ul>
                <ul class="postImg">
                    <!-- <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li> -->
                    <a class="myPageGoEdit" href="/postEdit">글 수정하기</a>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <!-- <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li> -->
                    <a class="myPageGoEdit" href="/postEdit">글 수정하기</a>
                </ul>
                <ul class="postImg">
                    <!-- <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li> -->
                    <a class="myPageGoEdit" href="/postEdit">글 수정하기</a>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <!-- <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li> -->
                    <a class="myPageGoEdit" href="/postEdit">글 수정하기</a>
                </ul>
            </div>
            <div class="postLine">
                <ul class="postImg">
                    <li>프로필 사진</li>
                    <li>닉네임</li>
                    <li>제목</li>
                    <a class="myPageGoEdit" href="/postEdit">글 수정하기</a>
                </ul>
            </div>
        </div>
    </body>
</html>
