<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%>
        <H1 class="H1WWT">오늘의 날씨</H1>
        <div class="openContainer">
            <div class="card" id="weatherInfo"></div>
            <a href="/main" class="link-secondary fs-4">오늘의 코스를 보시겠습니까?</a>
            <p class="fs-2" style="margin-top: 30px">다른 지역 날씨 정보</p>
            <div id="weatherRegionInfo"></div>
        </div>

        <%- include('include/footer') %>
        <script>
            // OpenWeatherMap API 키
            const apiKey = "aa88b6a4ce24f5cf5acfc023046517f2";

            function getWeatherInfo(position) {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                // API 엔드포인트 URL
                const apiUrl = `https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=${apiKey}&units=metric`;

                // API 요청을 보냄
                fetch(apiUrl)
                    .then((response) => response.json())
                    .then((data) => {
                        // 날씨 정보를 가져와서 페이지에 표시
                        const weatherInfo = document.getElementById("weatherInfo");
                        if (data.weather[0].description.includes("clouds")) {
                            weatherInfo.innerHTML += `
                            <div class="card">
                                <img src="../static/image/cloudy.jpg" class="card-img-top" alt="..." style="width: 23rem">
                                <h2 class = "card-title">나의 위치</h2>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">온도: ${data.main.temp} °C</li>
                                    <li class="list-group-item">흐림</li>
                                    <li class="list-group-item">풍속: ${data.wind.speed} m/s</li>
                                </ul>
                            </div>
                            `;
                        } else if (data.weather[0].description.includes("rain")) {
                            weatherInfo.innerHTML += `
                            <div class="card">
                                <img src="../static/image/rainny.jpg" class="card-img-top" alt="..." style="width: 23rem">
                                <h2 class = "card-title">현재 날씨</h2>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">온도: ${data.main.temp} °C</li>
                                    <li class="list-group-item">비</li>
                                    <li class="list-group-item">풍속: ${data.wind.speed} m/s</li>
                                </ul>
                            </div>
                            `;
                        } else if (data.weather[0].description.includes("clear")) {
                            weatherInfo.innerHTML += `
                            <div class="card">
                                <img src="../static/image/sunny.jpg" class="card-img-top" alt="..." style="width: 23rem">
                                <h2 class = "card-title">현재 날씨</h2>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">온도: ${data.main.temp} °C</li>
                                    <li class="list-group-item">맑음</li>
                                    <li class="list-group-item">풍속: ${data.wind.speed} m/s</li>
                                </ul>
                            </div>
                            `;
                        } else if (data.weather[0].description.includes("snow")) {
                            weatherInfo.innerHTML += `
                            <div class="card">
                                <img src="../static/image/snowy.jpg" class="card-img-top" alt="..." style="width: 23rem">
                                <h2 class = "card-title">현재 날씨</h2>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">온도: ${data.main.temp} °C</li>
                                    <li class="list-group-item">눈</li>
                                    <li class="list-group-item">풍속: ${data.wind.speed} m/s</li>
                                </ul>
                            </div>
                            `;
                        }
                    })
                    .catch((error) => {
                        console.error("날씨 정보를 가져오는 중 오류 발생:", error);
                    });
            }

            // Geolocation API를 사용하여 사용자의 현재 위치를 확인
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getWeatherInfo);
            } else {
                console.error("Geolocation을 지원하지 않는 브라우저입니다.");
            }

            const locations = [
                { name: "서울", lat: 37.5665, lon: 126.978 },
                { name: "경기도", lat: 37.4138, lon: 127.5183 },
                { name: "강원도", lat: 37.5558, lon: 127.7299 },
                { name: "부산", lat: 35.1796, lon: 129.0756 },
                { name: "대구", lat: 35.8714, lon: 128.6014 },
                { name: "충청도", lat: 36.4879, lon: 127.281 },
                { name: "전라도", lat: 35.8242, lon: 127.1482 },
            ];

            // 날씨 정보를 가져오고 표시하는 함수
            function getRegionWeather(location) {
                // API 엔드포인트 URL
                const apiUrl = `https://api.openweathermap.org/data/2.5/weather?lat=${location.lat}&lon=${location.lon}&appid=${apiKey}&units=metric`;
                // <p>현재 온도: ${data.main.temp} °C</p>
                // <p>날씨 상태: ${data.weather[0].description}</p>
                // <p>풍속: ${data.wind.speed} m/s</p>
                // API 요청을 보냄
                fetch(apiUrl)
                    .then((response) => response.json())
                    .then((data) => {
                        // 날씨 정보를 가져와서 페이지에 표시
                        const weatherInfo = document.getElementById("weatherRegionInfo");
                        if (data.weather[0].description.includes("clouds")) {
                            weatherInfo.innerHTML += `
                            <div class="card">
                                <img src="../static/image/cloudy.jpg" class="card-img-top" alt="..." style="width: 18rem">
                                <h2 class = "card-title">${location.name}</h2>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">온도: ${data.main.temp} °C</li>
                                    <li class="list-group-item">흐림</li>
                                    <li class="list-group-item">풍속: ${data.wind.speed} m/s</li>
                                </ul>
                            </div>
                            `;
                        } else if (data.weather[0].description.includes("rain")) {
                            weatherInfo.innerHTML += `
                            <div class="card">
                                <img src="../static/image/rainny.jpg" class="card-img-top" alt="..." style="width: 18rem">
                                <h2 class = "card-title">${location.name}</h2>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">온도: ${data.main.temp} °C</li>
                                    <li class="list-group-item">비</li>
                                    <li class="list-group-item">풍속: ${data.wind.speed} m/s</li>
                                </ul>
                            </div>
                            `;
                        } else if (data.weather[0].description.includes("clear")) {
                            weatherInfo.innerHTML += `
                            <div class="card">
                                <img src="../static/image/sunny.jpg" class="card-img-top" alt="..." style="width: 18rem">
                                <h2 class = "card-title">${location.name}</h2>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">온도: ${data.main.temp} °C</li>
                                    <li class="list-group-item">맑음</li>
                                    <li class="list-group-item">풍속: ${data.wind.speed} m/s</li>
                                </ul>
                            </div>
                            `;
                        } else if (data.weather[0].description.includes("snow")) {
                            weatherInfo.innerHTML += `
                            <div class="card">
                                <img src="../static/image/snowy.jpg" class="card-img-top" alt="..." style="width: 18rem">
                                <h2 class = "card-title">${location.name}</h2>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">온도: ${data.main.temp} °C</li>
                                    <li class="list-group-item">눈</li>
                                    <li class="list-group-item">풍속: ${data.wind.speed} m/s</li>
                                </ul>
                            </div>
                            `;
                        }
                    })
                    .catch((error) => {
                        console.error("날씨 정보를 가져오는 중 오류 발생:", error);
                    });
            }

            // 모든 지역의 날씨 정보 가져오기
            locations.forEach(getRegionWeather);
        </script>
    </body>
</html>
