<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <h1>Today's Weather</h1>
        <p></p>
        <!-- 날씨 api 받아서 로고 표시 -->
        <p></p>
        <!-- 날씨 api 받아서 온도 및 지역 표시 -->
        <a href="/">오늘의 코스를 보시겠습니까?</a>
    </body>
</html>
