<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%>
        <div class="postContainer">
            <div id="postIcon"></div>
            <h2>맑은날 좋은 제주도 우도 코스</h2>
            <div class="postContent">
                <ul>
                    <li id="postImg">
                        <img src="../static/image/beach1.jpg" alt="" style="width: 100%" />
                    </li>
                    <li id="postWriting">
                        안녕하세요 오늘은 제주도에 대해서 포스트하고 싶어서 이렇게 적어봅니다.
                    </li>
                    <li id="postRegion">위치</li>
                </ul>
            </div>
        </div>
    </body>
</html>
