<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%>
        <div>아이콘</div>
        <h2>제목</h2>
        <div>
            <ul>
                <li>사진</li>
                <li>글</li>
                <li>위치</li>
            </ul>
        </div>
    </body>
</html>
