<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%>

        <!-- 

{
isLogin: true,
postData:{
    postNumber: 1,
    postTitle: "임시제목",
    weather: null,
    region: null,
    reImage: "temp",
    createdAt: "2024-03-06T04:59:23.000Z",
    updatedAt: "2024-03-06T04:59:23.000Z",
    userID: 1
    },
commentResult:[
        {"courseNumber": 1, "courseImagePath": "temp", "courseLon": 12.12, "courseLat": 13.13, "courseText": "course설명입니다",…},
        {"courseNumber": 2, "courseImagePath": "temp", "courseLon": 12.12, "courseLat": 13.13, "courseText": "course설명입니다",…}
    ],
postCourseData:[
        {"courseNumber": 1, "courseImagePath": "temp", "courseLon": 12.12, "courseLat": 13.13, "courseText": "course설명입니다",…},
        {"courseNumber": 2, "courseImagePath": "temp", "courseLon": 12.12, "courseLat": 13.13, "courseText": "course설명입니다",…}
    ]
    }
         -->
        <div class="postContainer">
            <div id="postIcon"></div>
            <h2><%#=postData.postTitle%>맑은날 좋은 제주도 우도 코스</h2>
            <div class="postContent">
                <ul>
                    <li id="postImg">
                        <img
                            src="/static/uploads/<%#=postData.reImage%>"
                            alt=""
                            style="width: 100%"
                        />
                    </li>
                    <li id="postWriting">
                        <%#=postCourseData.courseText%>안녕하세요 오늘은 제주도에 대해서 포스트하고
                        싶어서 이렇게 적어봅니다.
                    </li>
                    <li id="postRegion">
                        <%#=postCourseData.courseLon, postCourseData.couresLat%>위치
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
