<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%>
        <div class="profileEditContainer">
            <form action="">
                <div class="profileEditImgChange">
                    <div class="profileEditIcon"></div>
                    <button type="button">사진 변경</button>
                </div>
                <input type="text" placeholder="닉네임" />
                <textarea
                    name=""
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="소개 글을 작성해주세요"
                ></textarea>
            </form>
            <button type="button">프로필 편집</button>
        </div>
    </body>
</html>
