<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%>
        <h1>Today's Weather</h1>
        <p></p>
        <!-- 날씨 api 받아서 로고 표시 -->
        <p></p>
        <!-- 날씨 api 받아서 온도 및 지역 표시 -->
        <a href="/">오늘의 코스를 보시겠습니까?</a>

        <br />
        <input type="text" name="" id="autocomplete" placeholder="Enter a place" type="text" />
        <br />

        <!-- 날씨api -->
        <div class="container">
            <div class="search-box">
                <i class="bx bxs-map"></i>
                <input type="text" placeholder="지역을 입력해주세요" />
                <button>검색</button>
            </div>

            <div class="Weather-box">
                <div class="box">
                    <div class="info-weather">
                        <div class="weather">
                            <img src="" alt="" />
                            <p class="temperature">16<span>˚C</span></p>
                            <p class="description">cloud</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="weather-details" style="padding: 0; display: flex">
                <div class="humidity">
                    <i class="bx bx-wind"></i>
                    <div class="text">
                        <div class="info-humidity"><span>0%</span>s</div>
                        <p>Humidity</p>
                    </div>
                </div>

                <div class="wind">
                    <i class="bx bx-wind"></i>
                    <div class="text">
                        <div class="info-wind">
                            <span>0Km/h</span>
                        </div>
                        <p>Wind Speed</p>
                    </div>
                </div>
            </div>
            <div class="nont-fond">
                <div class="box">
                    <img src="" alt="" />
                    <p>지역을 다시 확인해주세요</p>
                </div>
            </div>
        </div>

        <script src="weather.js"></script>
        <!-- 여기까지 날씨 -->
    </body>
</html>
