<footer>
    <p class="fs-5">What was Today</p>
    <div>
        <ul>
            <li>Our Team</li>
            <li>추수연</li>
            <li>신동운</li>
            <li>문민아</li>
            <li>이기혁</li>
        </ul>
    </div>
</footer>
