<header>
    <ul>
        <li>
            <a href="/">홈</a>
        </li>
        <%#if(isLogin){%>
        <li><a href="/logout">로그아웃</a></li>
        <%#}else{%>
        <li><a href="/login">로그인 하하</a></li>
        <%#}%>
    </ul>
</header>
