<header>
    <ul class="headerUl">
        <li>
            <span><img class="logo" src="../../static/image/logo.png" alt="" /></span
            ><a class="WWT" href="/">What Was Today</a>
        </li>
        <%#if(isLogin){%>
        <li><a href="/login">Log in</a></li>
        <%#}else{%>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/myPage">nickname</a></li>
        <%#}%>
    </ul>
</header>
