<header>
    <ul class="headerUl">
        <li>
            <span><img class="logo" src="../../static/image/logo.png" alt="" /></span
            ><a class="WWT" href="/">What Was Today</a>
        </li>
        <%if(isLogin){%>
        <li><a href="/myPage"><%= data.userNickname %></a></li>
        <li><a href="/logout">Log out</a></li>
        <%}else{%>
        <li><a href="/login">Log in</a></li>
        <li><a href="/join">Join in</a></li>
        <%}%>
    </ul>
</header>
<div id="menuBar">
    <input type="checkbox" id="menuicon" />
    <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="sidebar">
        <ul class="sidebarMenu">
            <%if(isLogin){%>
            <li><a href="/">Open</a></li>
            <li><a href="/main">Main</a></li>
            <%# if() {%>
            <li><a href="/myPage">My Page</a></li>
            <%#} else { %>
            <li>
                <a href="/admin/adminQNA">QnA</a>
            </li>
            <%# } %> <%}else{%>
            <li><a href="/open">Open</a></li>
            <li><a href="/main">Main</a></li>
            <%}%>
        </ul>
    </div>
</div>
