body {
    padding-top: 5px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    overflow: auto;
}

/* 전체 css */
.H1WWT {
    text-align: center;
    margin-top: 6.5rem;
    margin-bottom: 3rem;
    font-size: 60px;
}
/* 글 이미지 post */
.post {
    position: relative;
    border: 2px solid #333; /* 테두리 추가 */
    padding: 0; /* 내부 여백 추가 */
    width: 250px;
    height: auto;
    margin: 30px 0;
}
#postIcon {
    width: 80px;
    height: 80px;
    /* border: 1px solid gray; */
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    border: 1px solid rgb(215, 215, 215);
}
.box-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box {
    position: relative;
    width: 400px;
    height: 300px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    margin: 5px;
}
.box img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.box .info {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}
.box:hover .info {
    opacity: 1;
}
.box .info h3 {
    font-size: 24px;
    padding-bottom: 0.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}
.box .info p a {
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
/* header */
header {
    background-color: #333;
    padding: 15px 0;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}
.headerUl .logo {
    /* border: 1px solid white; */
    width: 25px;
    height: 25px;
    border-radius: 15%;
    padding: 0;
    position: absolute;
    left: 0.4rem;
    bottom: 0.7rem;
}
.headerUl .WWT {
    position: absolute;
    font-size: 20px;
    line-height: 90%;
    margin-left: 18px;
    bottom: 0.6rem;
    font-weight: 700;
}
.headerUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.headerUl li {
    display: inline;
    margin-right: 10px;
}
.headerUl li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 17px;
    position: relative;
    left: 10px;
    /* border: 1px solid black; */
}
#menuBar {
    z-index: 98;
    position: fixed;
    top: 40px;
}
#menuBar input[id="menuicon"] {
    display: none;
}
#menuBar input[id="menuicon"] + label {
    display: block;
    margin: 30px;
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
#menuBar input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 30px;
    background: #000;
    transition: all 0.35s;
}
#menuBar input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
}
#menuBar input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
#menuBar input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}
#menuBar input[id="menuicon"]:checked + label {
    z-index: 2;
}
#menuBar input[id="menuicon"]:checked + label span {
    background: #fff;
}
#menuBar input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
    rotate: 45deg;
}
#menuBar input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
}
#menuBar input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%);
    rotate: -45deg;
}
.sidebar {
    width: 100%;
    height: 120px;
    background: #222;
    position: fixed;
    display: block;
    top: -100px;
    left: 0;
    z-index: 1;
    transition: all 0.35s;
}
input[id="menuicon"]:checked + label + div {
    top: 0;
}
.sidebarMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 75px;
    margin-right: 10px;
}
.sidebarMenu li {
    margin-left: 35px;
}
.sidebarMenu li a {
    text-decoration: none;
    color: #fff;
}

/* open */
.weather {
    width: 20%;
    height: 400px;
    /* border: 1px solid red; */
    margin-left: 5px;
    margin: 0 auto;
}
#weatherLogo {
    width: 100%;
    height: 60%;
}
#weatherLogo .weatherLogoImg {
    width: 100%;
}
#weatherInfo {
    width: 100%;
    text-align: center;
    font-weight: bold;
    height: 35%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vmax;
}
#weatherInfo #weatherRegion {
    /* border: 1px solid red; */
    width: 60%;
    font-size: 3vmax;
}
#weatherInfo #weatherTemp {
    width: 40%;
    font-size: 3vmax;
    margin-left: 15px;
}
#weatherInfo #weatherTemp span {
    font-size: 3vmax;
}
.weather a {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2vmax;
    /* border: 1px solid red; */
    color: #333;
}

/* 검정색 div */
.carousel-frame {
    width: 20%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.left {
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: 0.5s;
}

.right {
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0;
    transition: 0.5s;
}

.carousel-frame:hover > button {
    opacity: 1;
}
/* 빨간색 div */
.carousel-contents {
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    /* border: 1px solid red; */
}
.carousel-item {
    width: 100%;
    flex-shrink: 0;
}

.line {
    width: 1000px;
    background-color: silver;
    margin: 20px auto;
    box-sizing: border-box;
}

.target {
    border: 3px solid navy;
    transition: 0.3s;
}

/* main */

/* login & join */
.joinForm,
.loginForm {
    margin-top: 20px; /* Example margin from the header */
    text-align: center; /* Align form elements at the center */
}
input[type="text"],
input[type="password"],
input[type="email"] {
    margin-bottom: 10px;
    padding: 5px 10px;
    /* border-radius: 5px; */
    border: 2px solid #333;
    width: 250px;
    height: 25px;
    font-size: 14px;
}
.loginBTN,
.joinBTN {
    margin: 20px 0;
    background-color: #333;
    color: white;
    cursor: pointer;
    width: 270px;
    height: 35px;
    border: 2px solid #333;
    font-size: 14px;
}
.loginBTN:hover,
.joinBTN:hover {
    background-color: #555;
}
.loginJoin {
    display: block;
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 20px;
}

/* mypage */
.myPageProfileInfo {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    /* border: 1px solid black; */
    /* position: relative; */
}

.myPageDiv1 {
    margin-right: 75px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 4px;
    /* border: 1px solid black; */
}
#postIcon > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 12px;
}
.myPageDiv1 .myPageNickname {
    position: relative;
    top: 5px;
}
.myPageDiv2 {
    margin-left: 70px;
    margin-right: 15px;
    position: relative;
    top: 7px;
    /* border: 1px solid black; */
}
.myPagePostCount {
    margin-bottom: 0;
    margin-top: 60px;
    font-size: 1.5vmax;
    color: #555;
}

.myPagePostCountName {
    margin-top: 6px;
    font-size: 1.2vmax;
    font-weight: 400;
}
/* BTN CSS */
.myPageBTN {
    display: flex;
    justify-content: center;
    margin: 18px auto;
    width: 25%;
    padding-bottom: 15px;
    /* border: 1px solid rgb(215, 215, 215); */
}
hr {
    border-style: groove;
}
.myPageEditBTN,
.myPagePostBTN {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 12px;
    /* border: 1px solid red; */
    color: #333;
    border: 0;
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
}

.myPageEditBTN {
    margin-right: 10px;
}
.myPagePostBTN {
    margin-left: 10px;
}

.myPageEditBTN:hover,
.myPagePostBTN:hover {
    background-color: #b1b1b1;
    color: rgb(238, 237, 237);
}
.myPageGoEdit {
    /* display: none; */
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    color: #7d7d7d;
    position: absolute;
    bottom: 0;
    left: 35%;
}

/* post */
.postContainer {
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
}
.postContent {
    width: 100%;
    /* border: 1px solid red; */
}
.postContent ul {
    width: 100%;
    margin: 0 -40px;
}
.postContent ul li {
    display: block;
    list-style: none;
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
}
.postContent ul > #postWriting {
    height: 150px;
    padding: 30px 0;
}
.postContent ul > #postRegion {
    height: 30px;
    padding: 8px 0;
    line-height: 30px;
}

/* post edit */
/* post */
.postContainer {
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
}
.postContent {
    width: 100%;
    /* border: 1px solid red; */
}
.postContent > ul {
    width: 100%;
    margin: 0 auto;
}
.postContent > ul > li {
    display: block;
    list-style: none;
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
}
.postContent > ul > #postWriting {
    height: 150px;
    padding: 30px 0;
}
.postContent > ul > #postRegion {
    height: 30px;
    padding: 8px 0;
    line-height: 30px;
}

/* post edit */
.postEditContainer {
    width: 600px;
    margin: 0 auto;
    /* border: 1px solid blue; */
}
.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
    border: 1px solid rgb(215, 215, 215);
    /* border: 1px solid red; */
    margin-bottom: 30px;
    width: 600px;
    /* border: 1px solid red; */
}
.inputContainer textarea,
input[type="file"],
input[id="postEditTitle"],
input[id="searchText"] {
    /* position: relative; */
    display: block;
    width: 600px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgb(217, 217, 217);
    /* box-shadow: 5px 5px 5px rgb(217, 217, 217); */
}
.inputContainer #postEditTitle {
    margin-top: 5px;
}
p {
    text-align: center;
}
button {
    width: 100%;
    border: none;
    padding: 10px;
    /* border: 1px solid rgb(215, 215, 215); */
}
.inputContainer div button[value="위치 선택"]:hover {
    background-color: #b1b1b1;
}
.inputContainer div button:hover {
    background-color: #b1b1b1;
}
.writePostBTN {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    /* border: 1px solid red; */
    color: #333;
    border: 0;
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
    border: 1px solid rgb(215, 215, 215);
}
#addBTN:hover {
    background-color: #b1b1b1;
}
.writePostBTN:hover {
    background-color: #b1b1b1;
}
/* profile edit */
.profileEditContainer {
    padding-top: 50px;
    width: 30%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
    border: 1px solid rgb(215, 215, 215);
    /* border: 1px solid red; */
}
.profileEditForm {
    display: flex;
    align-items: center;
}
.profileEditImgChange {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.profileEditImgContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    /* border: 1px solid red; */
}
.profileEditIcon {
    width: 100px;
    height: 100px;
    /* border: 1px solid gray; */
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    border: 1px solid rgb(215, 215, 215);
    background-color: white;
    margin-right: 10px;
}
.profileEditIcon > #imageElement {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#profileEditIconBTN {
    border: none;
    padding: 20px;
    height: 30px;
    background-color: rgb(248, 248, 248);
    /* border-radius: 10px; */
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    border: 1px solid rgb(215, 215, 215);
    color: #3c3c3c;
    line-height: 0px;
    font-size: 12px;
    margin-left: 70px;
}
#profileEditIconBTN:hover {
    background-color: #b1b1b1;
    color: rgb(248, 248, 248);
}
.profileEditContainer form > input {
    display: block;
    width: 90%;
    height: 30px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid rgb(217, 217, 217);
    /* box-shadow: 5px 5px 5px rgb(217, 217, 217); */
}
.profileEditContainer form > textarea {
    border: none;
    margin-bottom: 10px;
    width: 98%;
    /* box-shadow: 5px 5px 5px rgb(217, 217, 217); */
}
.profileEditContainer > button {
    width: 100%;
    /* margin-bottom: 15px; */
    border: none;
    padding: 10px;
    background-color: rgb(248, 248, 248);
    color: #3c3c3c;
    font-size: 14px;
}
.profileEditContainer > button:hover {
    background-color: #b1b1b1;
    color: rgb(248, 248, 248);
}

/* comment */
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.commentContainer {
    width: 50%;
    margin: 0 auto;
}
.comment {
    display: block;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #f8f8f8;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    /* margin: 0 auto; */
    /* padding-top: 15px; */
}
.commentForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.commentForm > form > h4 {
    margin-left: 1.3vmax;
}
.commentForm .psBox {
    display: flex;
    justify-content: space-evenly;
}
.commentForm > form > .psBox > input[class="int"] {
    width: 80%;
}
.commentForm > form > .psBox > input[class="btn"] {
    width: 10%;
    height: 37px;
}
#commentList {
    padding-bottom: 15px;
    width: 100%;
    margin: 0 auto;
}
.commentRow {
    width: 94%;
    height: 100%;
    background: #fff;
    margin: 0 auto;
    border: 1px solid #b1b1b1;

    /* box-shadow: 5px 5px 5px rgb(207, 207, 207); */
}
.commentID {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    padding: 2px 5px;
    border-bottom: 1px solid #ebebeb;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
}
.commentContent {
    /* border: 1px solid red; */
    padding: 2px 5px;
    font-size: 15px;
    margin-bottom: 10px;
}
.commentDate {
    padding: 2px 5px;
    font-size: 13px;
    border-top: 1px solid #ebebeb;
    text-align: end;
}
/* admin CSS */
.adminBody {
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminContainer {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 40%;
    /* border: 1px solid black; */
    width: 500px;
    height: 100px;
    font-size: 20px;
}
#adminContainer > a {
    width: 200px;
    color: #333;
}
/* adminAcess CSS */
#adminAccessBody {
    background-color: rgb(250, 250, 250);
}
.h3Text {
    text-align: center;
    padding: 4% 0 2% 0;
}
#searchInput {
    margin: 0 1%;
    padding: 3.5px 0;
}
#boardSearch1 {
    text-align: center;
    line-height: 50%;
}
#search-button {
    margin-bottom: 0.4%;
    font-size: 12px;
    padding: 5px 10px;
}
#member-list {
    padding-top: 10px;
}
.container {
    display: flex;
    flex-direction: row-reverse;
}
.boardTable {
    border: solid 1px black;
    text-align: center;
}
.container > form {
    position: relative;
    right: 5%;
}
#deleteButton {
    font-size: 12px;
    padding: 5px 10px;
}
/* adminQnA CSS */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.contact > h1 {
    margin-top: 5rem;
    margin-bottom: 2rem;
}
/* #contactForm {
    border: 1px solid #3c3c3c;
    border-style: outset;
    width: 478.260864px;
} */
#contactForm > table {
    /* display: inline; */
    text-align: center;
    border: 1px solid black;
}
.contactTableTR > th {
    text-align: center;
    line-height: 3;
}
.contactTableTR > .th4 {
    text-align: center;
    line-height: 12.5;
}
.contactTableTD > input {
    width: 300px;
    height: 35px;
    margin: 0;
}
.contactTableTD {
    line-height: 3;
}
.contactTableTD4 {
    line-height: 50%;
}
#message {
    /* font-size: 14px; */
    /* width: 400px; */
}
.adminQNABTN,
.adminQNABackBTN {
    text-align: center;
    width: 120px;
    border: none;
    padding: 20px;
    height: 20px;
    background-color: rgb(248, 248, 248);
    /* border-radius: 10px; */
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    border: 1px solid rgb(215, 215, 215);
    color: #3c3c3c;
    line-height: 0px;
    font-size: 15px;
    margin: 10px;
    font-weight: 700;
}
.adminQNABTN:hover {
    background-color: #b1b1b1;
    color: rgb(248, 248, 248);
}
.contactTableTR {
    /* text-align: center; */
    line-height: 50%;
}
