@font-face {
    font-family: "SUITE-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}
/* html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

textarea {
    resize: none;
}

body {
    padding-top: 5px;
    font-family: "SUITE-Regular";
    background-color: #f7f6f6;
    overflow: auto;
}

/* 전체 css */
.H1WWT {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 3rem;
    font-size: 60px;
}
/* 글 이미지 post */
.post {
    position: relative;
    border: 2px solid #333; /* 테두리 추가 */
    padding: 0; /* 내부 여백 추가 */
    width: 250px;
    height: auto;
    margin: 30px 0;
}
#postIcon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    border: 1px solid rgb(220, 220, 220);
    margin: 70px 0 5px;
}
#postIcon > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 12px;
}
.userNickname {
    color: rgb(108, 108, 108);
}
.inner {
    max-width: 900px;
    margin: 0 auto;
}
.box-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    gap: 10px;
}
.box {
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    margin: 5px;
    overflow: hidden;
}
.box img {
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
}
.box .info {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.box:hover .info {
    opacity: 1;
    border-radius: 5px;
}
.box .info h3 {
    padding-bottom: 0.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    text-transform: uppercase;
}
.box .info p a {
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.box .info p:hover a {
    color: #99bcee;
}

/* footer */
footer {
    margin-top: 200px;
    background-color: #cfdbeb;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer > div > ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header */
header {
    background-color: #7c9ac4;
    padding: 15px 0;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}
.headerUl .logo {
    width: 25px;
    height: 25px;
    border-radius: 15%;
    padding: 0;
    position: absolute;
    left: 0.4rem;
    bottom: 0.7rem;
}
.headerUl .WWT {
    position: absolute;
    font-size: 20px;
    line-height: 90%;
    margin-left: 18px;
    bottom: 0.6rem;
    font-weight: 700;
}
.headerUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.headerUl li {
    display: inline;
    margin-right: 10px;
}
.headerUl li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 17px;
    position: relative;
    left: 10px;
}
#menuBar {
    z-index: 98;
    position: fixed;
    top: 48px;
}
#menuBar input[id="menuicon"] {
    display: none;
}
#menuBar input[id="menuicon"] + label {
    display: block;
    margin: 30px;
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
#menuBar input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 30px;
    background: #000;
    transition: all 0.35s;
}
#menuBar input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
}
#menuBar input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
#menuBar input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}
#menuBar input[id="menuicon"]:checked + label {
    z-index: 2;
}
#menuBar input[id="menuicon"]:checked + label span {
    background: #fff;
}
#menuBar input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
    rotate: 45deg;
}
#menuBar input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
}
#menuBar input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%);
    rotate: -45deg;
}
.sidebar {
    width: 100%;
    height: 120px;
    background: #a0b5d2;
    position: fixed;
    display: block;
    top: -100px;
    left: 0;
    z-index: 1;
    transition: all 0.35s;
}
input[id="menuicon"]:checked + label + div {
    top: 0;
}
.sidebarMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 75px;
    margin-right: 10px;
}
.sidebarMenu li {
    margin-left: 35px;
}
.sidebarMenu li a {
    text-decoration: none;
    color: #fff;
}

/* open */
.openContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.openContainer > a {
    margin-bottom: 100px;
}
#weatherRegionInfo {
    width: 80%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(217, 217, 217);
}
#weatherRegionInfo > .card {
    margin: 20px;
}
.card {
    box-shadow: 3px 3px 3px rgb(217, 217, 217);
}

/* login & join */
.joinForm,
.loginForm {
    margin-top: 20px; /* Example margin from the header */
    text-align: center; /* Align form elements at the center */
    height: 50%;
}
.loginDIV {
    display: inline-block;
    padding: 50px 30px 40px;
    font-weight: 800;
    font-size: 2rem;
    background-color: #a0b5d2;
    border-radius: 4%;
}
.joinDIV {
    display: inline-block;
    padding: 35px 45px 10px;
    font-weight: 800;
    font-size: 2rem;
    background-color: #a0b5d2;
    border-radius: 4%;
}
.joinDIV > hr {
    color: #606d75;
}
.joinH1 {
    margin-top: 90px;
    margin-bottom: 30px;
}
#userID {
    margin-top: 20px;
}
input[type="text"],
input[type="password"],
input[type="userName"],
input[type="email"] {
    margin-bottom: 7px;
    padding: 5px 10px;
    border: 1px solid #7a8da6;
    width: 250px;
    height: 35px;
    font-size: 14px;
    border-radius: 2%;
}
.loginBTN,
.joinBTN {
    margin: 20px 0;
    background-color: #b9bfd5;
    color: rgb(77, 80, 87);
    cursor: pointer;
    width: 250px;
    height: 35px;
    border: 1px solid #b9bfd2;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}
.loginBTN:hover,
.joinBTN:hover {
    background-color: #8396af;
    border: 0.2px solid #a0b5d2;
}
.loginJoin {
    display: block;
    width: 100%;
    text-align: center;
    color: #3f4042;
    font-size: 16px;
    font-weight: 400;
}

/* mypage */
.myPageProfileInfo {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.myPageDiv1 {
    margin-right: 75px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: -8%;
    top: 1rem;
}
#myPageIcon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    border: 1px solid rgb(220, 220, 220);
}
#myPageIcon > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 12px;
}
.myPageDiv1 .myPageNickname {
    position: relative;
    top: 5px;
}
#userText {
    width: 280px;
    height: 130px;
    border: #7d7d7d;
    background-color: rgba(0, 0, 255, 0);
    position: relative;
    right: 8.3%;
}
.myPagePostCountDIV > p {
    position: relative;
    left: 35%;
}
.myPagePostCount {
    color: #555;
    position: relative;
    left: 34%;
    font-weight: 400;
    margin: 1px;
    font-size: 13px;
}

.myPagePostCountName {
    margin-top: 6px;
    font-weight: 400;
}

/* BTN CSS */
.myPageBTN {
    display: flex;
    justify-content: center;
    margin: 18px auto;
    width: 25%;
    padding-bottom: 15px;
}
hr {
    border-style: solid;
    color: #b1b1b1;
    max-width: 900px;
    margin: 0 auto;
}
.myPageEditBTN,
.myPagePostBTN {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    border: 0;
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
}

.myPageEditBTN {
    margin-right: 10px;
}
.myPagePostBTN {
    margin-left: 10px;
}

.myPageEditBTN:hover,
.myPagePostBTN:hover {
    background-color: #b1b1b1;
    color: rgb(238, 237, 237);
}
.myPageGoEdit {
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    color: #7d7d7d;
    position: absolute;
    bottom: 0;
    left: 35%;
}

/* post */
.postContainer {
    width: 50%;
    height: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.postContent {
    width: 100%;
    margin: 0 -40px;
}
.postContent ul {
    width: 100%;
    margin: 0 -40px;
}
.postContent ul li {
    display: block;
    list-style: none;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    font-size: 20px;
}
.postContent ul > #postWriting {
    height: 150px;
    padding: 30px 0;
}
.postContent ul > #postRegion {
    height: 30px;
    padding: 8px 0;
    line-height: 30px;
}

/* post */
.postContainer {
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postContent {
    width: 100%;
}
.postContent > ul {
    width: 100%;
    margin: 0 auto;
}
.postContent > ul > li {
    display: block;
    list-style: none;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
}
.postContent > ul > #postWriting {
    height: 150px;
    padding: 30px 0;
}
.postContent > ul > #postRegion {
    height: 30px;
    padding: 8px 0;
    line-height: 30px;
}

/* post edit */
.postEditContainer {
    width: 600px;
    margin: 0 auto;
}
.postEditContainer > form {
    background-color: #ebecee;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
    border: 1px solid rgb(215, 215, 215);
    margin-bottom: 30px;
    width: 600px;
}
.inputContainer > fieldset > legend {
    text-align: center;
}
.inputContainer > fieldset {
    display: flex;
    justify-content: center;
}
.inputContainer > fieldset > label {
    padding-right: 10px;
    padding-left: 3px;
}

.inputContainer textarea,
input[type="file"],
input[id="postEditTitle"],
input[id="searchText"] {
    display: block;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgb(217, 217, 217);
    resize: none;
}
.regionBox > #postEditFile {
    text-align: center;
}
.searchResult {
    text-align: center;
    margin-bottom: 5px;
}
.inputContainer #postEditTitle {
    margin: 5px 0 2px;
}
p {
    text-align: center;
}
.regionBox > textarea {
    padding: 5px;
}
#searchBTN {
    width: 100%;
    border: none;
    padding: 8px;
}
#searchBTN:hover {
    background-color: #e3e3e3;
}
.inputContainer div button:hover {
    background-color: #e3e3e3;
}
.writePostBTN {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    color: #333;
    border: 0;
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
    border: 1px solid rgb(215, 215, 215);
}
#addBTN {
    border: 1px solid rgb(215, 215, 215);
}
#addBTN:hover {
    background-color: #e3e3e3;
}
.writePostBTN:hover {
    background-color: #b1b1b1;
    width: 100%;
}
#deletePostBTN {
    padding: 3px;
    width: 100%;
    border: none;
    background-color: rgb(215, 215, 215);
    font-weight: 600;
    color: rgb(255, 137, 116);
}
#deletePostBTN:hover {
    width: 100%;
    border: none;
    background-color: rgb(255, 137, 116);
    color: #3f4042;
}

/* profile edit */
.profileEditContainer {
    padding-top: 50px;
    width: 30%;
    height: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
    border: 1px solid rgb(215, 215, 215);
}
.profileEditForm {
    display: flex;
    align-items: center;
}
.profileEditImgChange {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.profileEditImgContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}
.profileEditIcon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    border: 1px solid rgb(215, 215, 215);
    background-color: white;
    margin-right: 10px;
    position: relative;
    left: 1.5rem;
    top: 1rem;
}

.profileEditIcon > #imageElement {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#profileEditIconBTN {
    border: none;
    padding: 18px;
    height: 30px;
    background-color: rgb(242, 235, 235);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    border: 1px solid rgb(215, 215, 215);
    color: #3c3c3c;
    line-height: 0px;
    font-size: 12px;
    position: relative;
    left: 15rem;
    bottom: 2.5rem;
}

#profileEditIconBTN:hover {
    background-color: #c5bbbb;
    color: rgb(248, 248, 248);
}
.profileEditContainer form > input {
    display: block;
    width: 90%;
    height: 30px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid rgb(217, 217, 217);
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
}
.profileEditContainer form > textarea {
    display: block;
    border: none;
    margin: 20px auto 15px;
    width: 90%;
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
}
.profileEditBTN {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    bottom: 1.2rem;
}
.profileEditBTN > button {
    width: 35%;
    margin: 0 20px 15px;
    border: none;
    padding: 10px 0;
    border-radius: 7px;
    background-color: rgb(242, 235, 235);
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    color: #3c3c3c;
    font-size: 14px;
}

.profileEditBTN > button:hover {
    background-color: #c5bbbb;
    color: rgb(248, 248, 248);
}

/* comment */
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.commentContainer {
    width: 50%;
    margin: 0 auto;
}
.comment {
    display: block;
    width: 100%;
    background-color: #f8f8f8;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
}
.commentForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 7px;
}
.commentForm > form > h4 {
    margin-left: 1.3vmax;
}
.commentForm .psBox {
    display: flex;
    justify-content: space-evenly;
}
.commentForm > form > .psBox > input[class="int"] {
    width: 80%;
}
.commentForm > form > .psBox > input[class="btn"] {
    width: 10%;
    height: 37px;
}
#commentList {
    padding-bottom: 15px;
    width: 100%;
    margin: 0 auto;
}
.commentRow {
    width: 94%;
    height: 100%;
    background: #fff;
    margin: 0 auto;
    border: 1px solid #b1b1b1;
}
.commentID {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    padding: 2px 5px;
    border-bottom: 1px solid #ebebeb;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
}
.commentContent {
    padding: 2px 5px;
    font-size: 15px;
    margin-bottom: 10px;
}
.commentDate {
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    font-size: 13px;
    border-top: 1px solid #ebebeb;
    text-align: end;
}
.postBTNs > button {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 2px;
    margin-right: 15px;
}
.btn {
    border: 1px solid #6e8cb5;
}
.btn:hover {
    border: 1px solid #ebebeb;
    background-color: #6e8cb5;
}

/* admin CSS */
.adminBody {
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 40%;
    width: 500px;
    height: 100px;
    font-size: 20px;
}
#adminContainer > a {
    width: 200px;
    color: #333;
}

/* adminAcess CSS */
#adminAccessBody {
    background-color: rgb(250, 250, 250);
}
.h3Text {
    text-align: center;
    padding: 4% 0 2% 0;
}
#searchInput {
    margin: 0 1%;
    padding: 3.5px 0;
}
#boardSearch1 {
    text-align: center;
    line-height: 50%;
}
#search-button {
    margin-bottom: 0.4%;
    font-size: 12px;
    padding: 5px 10px;
}
#member-list {
    padding-top: 10px;
}
.container {
    display: flex;
    flex-direction: row-reverse;
}
.boardTable {
    border: solid 1px black;
    text-align: center;
}
.container > form {
    position: relative;
    right: 5%;
}
#deleteButton {
    font-size: 12px;
    padding: 5px 10px;
}
button[value="위치"] {
    display: block;
    border: 1px solid #e3e3e3;
    width: 100%;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.contact > h1 {
    margin-top: 5rem;
    margin-bottom: 2rem;
}
#contactForm > table {
    text-align: center;
    border: 1px solid black;
}
.contactTableTR > th {
    text-align: center;
    line-height: 3;
}
.contactTableTR > .th4 {
    text-align: center;
    line-height: 12.5;
}
.contactTableTD > input {
    width: 300px;
    height: 35px;
    margin: 0;
}
.contactTableTD {
    line-height: 3;
}
.contactTableTD4 {
    line-height: 50%;
}
.contactTableTD4 > textarea {
    width: 300px;
    padding: 7px;
    resize: none;
}

.adminQNABTN,
.adminQNABackBTN {
    text-align: center;
    width: 120px;
    border: none;
    padding: 20px;
    height: 20px;
    background-color: rgb(248, 248, 248);
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    border: 1px solid rgb(215, 215, 215);
    color: #3c3c3c;
    line-height: 0px;
    font-size: 15px;
    margin: 10px;
    font-weight: 700;
}
.adminQNABTN:hover {
    background-color: #b1b1b1;
    color: rgb(248, 248, 248);
}
.contactTableTR {
    line-height: 50%;
}
